h1	{
	font-size: 40px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-top: auto;
	background-color: #635c5c;
	color: white;
	justify-content: flex-start;
	text-align: left;
	transition:all 0.3s ease;
}

h1:hover {
	 transform: scale(1.01);
}
p { 
	background-color: grey;
	max-width: 300px;
	padding: 10px 40px;
	position: relative;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: left;
	opacity: 0.2;
	transition:all 0.3s ease;
	font-size: 20px;
 }

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
}

p:hover {
	opacity: 1;
}

span {
	transition:all 0.3s ease;
}

span:hover {
	box-shadow: inset 0 0 0 15px #4d4a4a;
}

#cf {
	position: relative;
	margin-right: 0 auto;
}

#cf img {
	position: absolute;
	left: 0;
    transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
 	opacity:0;
}